[submodule "webots_ros2_importer/webots_ros2_importer/urdf2webots"]
	path = webots_ros2_importer/webots_ros2_importer/urdf2webots
	url = https://github.com/lkx8421/urdf2webots.git
	branch = joint_limit
